:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

img {
  margin: 20px;
  max-width: 80vw;
  max-height: 50vh;
  min-height: 30vh;
  object-fit: contain;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 20px;

  button {
    margin: 10px;
  }
}