<ng-container *ngIf="(episode$ | async) as ep">
  <img [src]="ep.thumbnail?.large?.src || ep.thumbnail?.medium?.src || ep.thumbnail?.small.src" [alt]="ep.thumbnail?.small.alt">
  <div class="details">
    <h1 *ngIf="ep.title">{{ep.title}}</h1>
    <h2 *ngIf="ep.publishDate">{{ep.publishDate}}</h2>
    <p *ngIf="ep.summary" [innerHTML]="ep.summary"></p>
    <button mat-flat-button color="primary" (click)="playEpisode(ep)">Play</button>
    <button mat-flat-button color="primary" (click)="queEpisode(ep)">Add to Playlist</button>
    <button mat-flat-button color="primary" (click)="downloadEpisode(ep)">Download</button>
    <ng-container *ngIf="(downloadProgress | async) as download">
      <mat-progress-bar *ngIf="!download.progressNotAvailable" mode="determinate" [value]="download.progress"></mat-progress-bar>
      <mat-progress-bar *ngIf="download.progressNotAvailable" mode="indeterminate"></mat-progress-bar>
      {{
        download.progress
      }}
    </ng-container>
  </div>
</ng-container>
