:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.window {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.controls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  mat-progress-bar {
    flex-basis: 100%;
  }
}