:host {
  display: flex;
  justify-content: center;
}

@media(min-width: 1000px) {
  app-podcast-list {
    width: 800px;
  }
}

.no-subscriptions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin: 20px;
  text-align: center;
}