<mat-action-list cdkDropList (cdkDropListDropped)="drop($event)" *ngIf="list" >
  <div *ngIf="list?.length === 0">No items found</div>
  <!-- TODO, not cool... conditional directive? -->
  <ng-container *ngIf="editable; else nonEditable">
    <button cdkDrag mat-list-item *ngFor="let item of list; let i = index;" [class.selected]="item.selected">
      <mat-icon cdkDragHandle class="anchor">drag_handle</mat-icon>
      <img [src]="item.image?.src" />
      <h3 [innerHTML]="item.title"></h3>
      <button mat-button (click)="onDeleteItem(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </button>
  </ng-container>
  <ng-template #nonEditable>
    <button mat-list-item *ngFor="let item of list; let i = index;" (click)="onClickItem(i)">
      <img [src]="item.image?.src" />
      <h3 [innerHTML]="item.title"></h3>
    </button>
  </ng-template>
</mat-action-list>