<ng-container *ngIf="(audioState$ | async) as audio">
  <ng-container *ngIf="audio.canPlay">
    <div class="scrubber">
      <span class="current-time">{{audio.currentTimeReadable}}</span>
      <mat-slider
        thumbLabel
        [displayWith]="formatLabel"
        min="0"
        [max]="audio.duration"
        (valueChange)="seek($event)">
      </mat-slider>
      <span class="end-time">{{audio.durationReadable}}</span>
    </div>
    <button mat-button>
      <mat-icon>skip_previous</mat-icon>
    </button>
    
    <button mat-button (click)="rewind()">
      <mat-icon>fast_rewind</mat-icon>
    </button>
    
    <button mat-button (click)="togglePlay(audio.isPlaying)">
      <mat-icon *ngIf="audio.isPlaying;">pause</mat-icon>
      <mat-icon *ngIf="!audio.isPlaying;">play_arrow</mat-icon>
    </button>
    
    <button mat-button (click)="forward()">
      <mat-icon>fast_forward</mat-icon>
    </button>
          
    <button mat-button>
      <mat-icon>skip_next</mat-icon>
    </button>
  </ng-container>
</ng-container>