:host {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .mat-button {
    line-height: 28px;
    padding: 0 4px;
    min-width: 40px;


    @media screen and (min-width: 450px) {
      line-height: 48px;
      padding: 0 8px;
    }
  }

  .mat-icon {
    font-size: 24px;
    width: 28px;
    height: 28px;
    min-width: 40px;

    @media screen and (min-width: 450px) {
      font-size: 42px;
      width: 48px;
      height: 48px;
    }
  }
}

.scrubber {
  display: flex;
  flex-basis: 100%;
  align-items: center;

  mat-slider {
    flex: 1;
  }

  span {
    margin: 0 10px;
  }
}