:host {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .mat-button {
    line-height: 48px;
    padding: 0 8px;
  }

  .mat-icon {
    font-size: 42px;
    width: 48px;
    height: 48px;
  }
}

.scrubber {
  display: flex;
  flex-basis: 100%;
  align-items: center;

  mat-progress-bar {
    flex: 1;
  }

  span {
    margin: 0 10px;
  }
}