<mat-button-toggle (change)="menu.toggle()">Menu</mat-button-toggle>
<mat-sidenav-container>
  <mat-sidenav #menu>
    <mat-nav-list>
      <a mat-list-item (click)="menu.close()" [routerLink]="['/']">Podcasts</a>
      <a mat-list-item (click)="menu.close()" [routerLink]="['/search']" >Search</a>
      <a mat-list-item (click)="menu.close()" [routerLink]="['/player']" >Player</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
    <app-controls></app-controls>
  </mat-sidenav-content>
</mat-sidenav-container>