:host {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

mat-sidenav-container {
  flex: 1;
  width: 100%;
}

mat-sidenav-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}