<form [formGroup]="searchForm" (ngSubmit)="search()">
    <mat-form-field>
      <input matInput formControlName="term" placeholder="Search" />
    </mat-form-field>
    <button mat-button>Search</button>
  </form>

<ng-container *ngIf="(searchResults$ | async) as results">
  <ng-container *ngIf="(loading$ | async) === false; else loading">
    <app-podcast-list
      [list]="(list$ | async)" 
      (clickItem)="viewPodcast($event, results)">
    </app-podcast-list>
  </ng-container> 
  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>
</ng-container>
