<form [formGroup]="searchForm" (ngSubmit)="search()">
    <mat-form-field>
      <input matInput formControlName="term" placeholder="Search" />
    </mat-form-field>
    <button mat-button>Search</button>
  </form>

<ng-container *ngIf="!(loading$ | async); else loading">
  <app-podcast-list *ngIf="(searchResults$ | async) as results" 
    [list]="results" 
    (clickItem)="viewPodcast($event, results)"></app-podcast-list>
</ng-container> 
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
