<form [formGroup]="searchForm" (ngSubmit)="search()">
  <mat-form-field>
    <input #terms matInput formControlName="terms" placeholder="Search" />
  </mat-form-field>
  <button mat-flat-button color="primary">Search</button>
</form>

<ng-container *ngIf="(searchResults$ | async) as results">
  <ng-container *ngIf="(loading$ | async); else list">
    <div class="spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-container>
  <ng-template #list>
    <app-podcast-list
      [list]="toList(results, terms.value)"
      (clickItem)="viewPodcast($event, results)">
    </app-podcast-list>
  </ng-template>
</ng-container>
